[Unit]
Description=Holgerspexets Paragrafryttare. Kör en flask-server via uwsgi.
After=network.target

[Service]
Type=simple
PIDFile=/run/paragrafryttare.pid
WorkingDirectory=/opt/paragrafryttare/
ExecStart=/usr/bin/uwsgi --ini paragrafryttare.ini
User=paragrafryttare
Environment=PATH=/paragrafryttare/env/bin:/usr/bin:/bin
Environment=DATABASE_URI=sqlite:////paragrafryttare/paragrafryttare.db
Environment=PYTHONPATH=/opt/paragrafryttare:/paragrafryttare/env/lib/python3.6/site-packages

[Install]
WantedBy=multi-user.target
