[Unit]
Description=Holgerspexet Archive! Running the node-app in /srv/holger-archive
After=network.target

[Service]
Type=simple
PIDFile=/run/arkivet.pid
ExecStart=/usr/bin/node /srv/holger-archive/app/server/dist/index.js
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/arkivet.pid
TimeoutStopSec=5
User=arkivet
Environment=HOLGER_ARCHIVE_PORT=3001
Environment=HOLGER_ARCHIVE_ROOT=/srv/holger-archive/seed-archive-root
Environment=HOLGER_ARCHIVE_CLIENT_ROOT=/srv/holger-archive/app/client/dist
Environment=HOLGER_ARCHIVE_TMP_DIR=/tmp/arkivet
Environment=HOLGER_ARCHIVE_HOSTING=/arkivet/
Environment=NODE_ENV=production


[Install]
WantedBy=multi-user.target